.text-center {
    text-align: center;
}

.logo {
    width: 300px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.boton {
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #eee;
}